header
  height 50px
  line-height 50px
  text-transform uppercase
  box-shadow: 0px 4px 29px -5px rgba(0,0,0,0.75)
  position absolute
  background #fff
  width 100%
  ul
    width 70%
    margin 0 auto
    font-size 14px
    li
      display inline
      margin-right 20px
      cursor pointer
      &:last-child
        margin 0 0 0 20px
      &:hover
        color $main-color
