block process
  .process
    h2 Our Process
    div.article.center
    
      article 
        div.icon.idea
        div
          h3 Clear Idea
          p We discuss the idea with your key people, until there is a clear understanding.
      
      article 
        div.icon.doc
        div
          h3 Tech document
          p Based on gathered information we prepare a comprehensive technology specification document that outlines all necessary details of the system.
          
    div.article.center
    
      article 
        div.icon.design
        div
          h3 Unique design
          p  UI/UX design can be done by our graphic designers to deliver top of the line front-end experience. We can work with your preferred designers as well.
      
      article 
        div.icon.control
        div
          h3 Control over the work
          p  We plan and implement your system using iterative approach. We communicate with you during the week to ensure that everyone is on the same page and happy with the progress.
